#map{
  position:fixed;
  top:0;right:0;bottom:0;left:0;
  z-index:-1;
  cursor: pointer;
}

#menu{text-align;conter;}
#menu>a,#menu>select{
  display:block;
  margin:10px;
        
  color:#fff;
  font-weight:bold;
  text-decoration:none;
  padding:0.5em;
  border:1px solid;
  border-radius:2px;

  background:#000;
  border-color:#000;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
#menu>a:hover,#menu>select:hover{
  color:#000;
  background-color:#fff;
}
dialog{
  text-align:center;
}
dialog::backdrop{
  background-image:url(IMG_1948.JPG);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.quiz>*{
  margin:10px 0;
  padding:0;
}
.sel{text-align:center;}
.sel>*{
  display:inline-block;
  width:160px;
  padding:10px;
  margin:0;
  background:#fff;
}
.pres{visibility:hidden;}
